  @import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap');

*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive;
}

main{
    height: 100vh;
}

.child{
    padding: 30px;
    display: flex;
    gap: 20px;
    justify-content:center;
    align-items: center;
    
}
button{
    cursor: pointer;
}
.addBtn{
    height: 48px;
    width: 45px;
    border-radius: 25px;
    background-color: bisque;
}

.inputFeild{
    height: 50px;
    width: 230px;
    border-radius: 18px;
    padding: 7px;
}

.secondChild{
    height: calc(100vh-107px);
    padding: 30px;
    display: grid;
    place-items: center;
   
}

.todoList{
    height: 100%;
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.todo{
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding-inline: 10px; 
    border: solid gray 1px;
    border-radius: 10px;
    height: 40px;
    /* justify-content: center; */
    align-items: center;
    padding-left: 20px;
}

.dltIcon{
    height: 20px;
    width: 20px;
    cursor: pointer;
}